body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  img {
    display: block;
  }
}
.the-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.the-header .container .header-page .navigation {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .logo-name {
  color: #2e2f42;
}
.nav-links .link {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: #404bbf;
}
.address-main {
  font-style: normal;
}
.address-main .address-links .link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-main .address-links .link:hover,
.address-main .address-links .link:focus {
  color: #404bbf;
}
.section-main {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-main-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.section-main .btn-section-main {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.section-main .btn-section-main:hover,
.section-main .btn-section-main:focus {
  background-color: #404bbf;
}
.section-two .section-two-list .section-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two .section-two-list .section-paragraph {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  background-color: #f4f4fd;
}
.section-three .section-three-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-three .section-three-list {
  background-color: #ffffff;
}
.section-three .section-three-list .section-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-three .section-three-list .section-par {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-four .section-four-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-four .section-four-list .section-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-four .section-four-list .section-par {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-main {
  background-color: #2e2f42;
}
.footer-main .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-main .logo-footer .logo-footer-name {
  color: #f4f4fd;
}
.footer-main .footer-par {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
